<h1> All Recipes </h1>
{% extends 'index.html' %}
{% block navigation %}
 {{ super() }}
{% endblock %}

{% block main_content %}
<ul>
{% for sg in all_recipes %}
<li>
  <h4>{{ sg.title }}</h4>
  <h5>Ingredients: {{sg.ingredients}}
</li>
<br>
{% endfor %}
</ul>

{% if not all_recipes %}
There are no saved gifs to show.
{% endif %}

<div>
{% for message in get_flashed_messages() %}
<strong>*** {{ message }} ***</strong>
{% endfor %}
</div>

<a href="{{ url_for('index')}}">Return to search for new recipes</a>
{% endblock %}