{% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Sign Out {{current_user.username}}</a>
{% else %}
    <a href="{{ url_for('login') }}">Sign In</a>
{% endif %}
<br>
<br>

{% block navigation %}
<ul><i>
    <li><a href="{{ url_for('index') }}">Search for recipes</a>
    <li><a href="{{ url_for('all_recipes') }}">See all recipes</a></li>
    <li><a href="{{ url_for('search_terms') }}">See all past searches</a></li>
    <li><a href="{{ url_for('create_recipe_list') }}">Create a personal recipe list</a></li>
    <li><a href="{{ url_for('lists') }}">See your Recipe Lists</a></li></li></i>
    <li><a href="{{ url_for('starting_letter_entry') }}">Enter a starting letter for recipes</a></li>
</ul>
<p>--------</p><br>
{% endblock %}

{% block main_content %}
<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.search.label }} {{ form.search() }}
	{{ form.submit() }}
</form>

<div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>

{% endblock %}